html, body
  font-family: 'Helvetica', sans-serif
  padding: 0
  margin: 0

div
  box-sizing: border-box

#channels
  background: #333
  padding: 10px
  overflow: hidden
  color: white
  .channel
    background: grey
    width: 100px
    padding: 10px
    border: 2px solid grey
    float: left
    margin-right: 10px
    &.on
      background: blue
      border: 2px solid yellow

    input
      display: block
      width: 100%