!!! 5

audio#audio(src='/mp3/test.mp3', controls="controls")

link(href="/css/app.css", rel="stylesheet", type="text/css")
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="/js/underscore.js")
script(src="/js/dancer.js")
script(src="/js/app.js")
script
    require('scripts/app')

#channels
    #kick.channel
    #snare.channel